body {
	font-family: 'Open Sans';
	color: black;
  overflow-x: hidden;
  margin: 0;
}



ul {
  list-style: none;
}

footer {
	color: black;
  font-family: 'Roboto Slab', serif;
}

/*a:hover {
	text-decoration: none;
	color: white;
}*/

h1 {
	font-size: 100px;
}

.alinear{
  display: flex;
  justify-content: space-around;
}

.portada {
  width: 600px;
  
}

.services {
  font-size: 19px;
  text-align: justify;
}

.main a:link {
	text-decoration: none;
	color: white;
}

.social {
	font-size: 70px;
	text-decoration: none;
}

.social:hover {
	color: #710184;
}

.all {
	background-image: url("../images/bg1.png");
	background-size: cover;}
  
.main {
    display: inline-block;
    vertical-align: middle;
    float: none;
    color: white;
    width: auto;
}



.article {
  /*background-image: url(../images/audiovisual.jpg);*/
  background: #300134;
  /*background-size: cover;*/
  color: white;
  margin-bottom: 1px;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
  
}


.title {
	padding: 15% 0;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      
      margin: 0 auto;
  }

#container {
    background: #DDD;
    max-width: 1000px;
}
.item {
    width: 200px;
    float: left;
}
.item img {
    display: block;
    width: 100%;
}

.description{
  font-size: 22px;
}

.button2 {
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
}


.bord {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px 30px;

}


.contenedor {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.number {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

footer a{
	color: white;
}



.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.contacto {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  height: 200px;
  align-items: center;
}

.formulario {
  display: flex;
  width: 420px;
  color: white;
}

.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}

.sexo {
  margin-top: 10px;
}

.intereses label {
  font-size: 13px;
}

.col1 {
  margin-right: 15px;
}

.col1, .col2 {
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #300134;
  /*margin-top: 10px;*/
  padding: 50px 10px;
}


.contacto a {
  color: white;
  margin: 15px 9px 9px 0;

}

.contacto img {
  display: block;
}

input, textarea {
  color: black;
}


.col2 {
  align-items: flex-start;
}

.col2 input {
  margin-top: 7px;
}


input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background-color: lightgray;
  
}