body {
	font-family: 'Open Sans';
	color: black;
  overflow-x: hidden;
  margin: 0;
}



ul {
  list-style: none;
}

footer {
	color: black;
  font-family: 'Roboto Slab', serif;
}

/*a:hover {
	text-decoration: none;
	color: white;
}*/

h1 {
	font-size: 100px;
}

.alinear{
  display: flex;
  justify-content: space-around;
}

.portada {
  width: 600px;
  
}

.services {
  font-size: 19px;
  text-align: justify;
}

.main a:link {
	text-decoration: none;
	color: white;
}

.social {
	font-size: 70px;
	text-decoration: none;
}

.social:hover {
	color: #710184;
}

.all {
	background-image: url("../images/bg1.png");
	background-size: cover;}
  
.main {
    display: inline-block;
    vertical-align: middle;
    float: none;
    color: white;
    width: auto;
}



.article {
  background: #300134;
  color: white;
  margin-bottom: 1px;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
  
}


.title {
	padding: 15% 0;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      
      margin: 0 auto;
  }

#container {
    background: #DDD;
    max-width: 1000px;
}
.item {
    width: 200px;
    float: left;
}
.item img {
    display: block;
    width: 100%;
}

.description{
  font-size: 22px;
}

.button2 {
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
}


.bord {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px 30px;

}

.media {
	display: flex;
	justify-content: space-around;
}

.leg {
	margin: 40px;
}

.contenedor {
  width: 80%;
  margin: auto;
  

}

.number {
	display: flex;
	justify-content: space-around;
}

.number a {
	margin-left: 120px;
	
}

footer a{
	color: white;
}


.footer {
  background-color: #300134;

  padding: 50px 10px;
}




